<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">BurgerCoin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Welcome<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/join">Join</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="/transfer">Transfer</a>
        </li>
      </ul>
    </div>
</nav>
  <div>
    <br>
    <h1>FAQ</h1>
    <p class="lead">Here is where we will answer all your burning questions about BurgerCoin. Go on, check it out.</p>
    <hr>
    <ol>
      <li>
        <dl>
          <dt>What is BurgerCoin?</dt>
          <dd>BurgerCoin is a cryptocurrency for burger lovers, built on top of the <a href="https://www.ethereum.org/">Ethereum</a> blockchain using the <a href="https://theethereum.wiki/w/index.php/ERC20_Token_Standard">ERC20</a> token standard. Its symbol is BUR.</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>Who keeps track of where all the BurgerCoins are?</dt>
          <dd>Because BurgerCoin runs on the Ethereum blockchain, the central ledger that keeps track of all the coins lives inside a smart contract on the blockchain. No one can change or alter that contract, and it can be publicly seen and audited.</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>How can I get BurgerCoin?</dt>
          <dd>There are two ways to get BurgerCoin. The first is to eat a burger at a participating restaurant, and enter the unique coin you receive at burgerco.in/verify to receive 100 BUR. The second way is to buy BurgerCoin at an exchange (coming soon).<br>For a limited time, we are offering FREE BurgerCoin to anyone who has an @oregonstate.edu email address, so if that's you, go to our main page and get your BUR!</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>But, why would I even want BurgerCoin? What can I do with it?</dt>
          <dd>You can use BurgerCoin to buy special off-menu burgers at participating restaurants that can ONLY be purchased for 500 BurgerCoin each. You can also sell your hard earned BUR for cash, or keep it under your virtual mattress.</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>Do I need to create an account?</dt>
          <dd>Not with us. All you need is an Ethereum account address, and the <a href="https://metamask.io/" target="_blank">MetaMask</a> browser plugin. If you don't have an Ethereum address already, MetaMask will create one for you.</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>I am a burger restaurant owner. How can I work with you?</dt>
          <dd>We are looking for leading burger restaurants who are willing to create a secret BurgerCoin burger and verify burger consumption to award BUR. If this sounds like you, email us at <a href="mailto:partners@burgerco.in">partners@burgerco.in</a>.</dd>
        </dl>
      </li>
    </ol>
  </div>
</div>
