<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">BurgerCoin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Welcome<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/join">Join</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="/transfer">Transfer</a>
        </li>
      </ul>
    </div>
</nav>
  <div class="jumbotron">
    <h2>Hey there!</h2>
    <p class="lead">Welcome to the BurgerCoin Project website. Here, you can <a href="/about">learn about</a> BurgerCoin, get directions to 
        <a href="/join">join the community<a/>, and find an easy form to <a href="/transfer">make transfers</a></p>
    <p class="text-center" id="balance_text"><strong>Your current BUR balance is: </strong></p>
    <p class="text-center" id="meta_text" style="display: none;"><strong>Please install <a href="metamask.io">MetaMask</a> to see your balance and interact with your BUR.</strong></p>

    <hr class="my-4">

  <div>
    <span width="120">
       <a href="https://www.ethereum.org"><img src="ETHEREUM-LOGO_PORTRAIT_Black_small.png" height="120" width="120"></a>
    </span>    
    <span width="120">
      <a href="https://metamask.io"><img src="metamask-fox-and-wordmark.svg" height="140" width="140"></a>
    </span>
    <span width="120">
      <a href="http://browserify.org/"><img src="browserify.jpg" height="100" width="100"></a>
    </span>
    <span width="120">
      <a href="https://github.com"><img src="GitHub-Mark-120px-plus.png" height="90" width="90"></a>
    </span>
    <span width="120">
      <a href="https://www.heroku.com"><img src="heroku-logotype-vertical-purple.jpg" height="100" width="100"></a>
    </span>
    <span width="120">
      <a href="https://nodejs.org/en"><img src="nodejs.svg" height="100" width="120"></a>
    </span>
    
    
  </div>
  </div>
</div>



<script src="/js/start_bundle.js"></script>
